body {
    background-color:#000000;
}

#map { 
    font-family:		"Courier New",monospace;
    font-size: 			.8em;
    background-color:	#000000;
    color:				#FFFFFF;
}

#login {
	font-family:		"Courier New",monospace;
    font-size:			.75em;
    width:				1000px;
    height:				25%;
    background-color:	#000000;
    color:				white;
}

#greeting {
    font-family:        "Courier New",monospace;
    font-size:          2.5em;
    background-color:   #000000;
    color:              white;
    text-align:         center;
}

#messages {
	margin: 			2px;
	width:				33%;
    height: 			25%;
    border: 			1px solid gray;
    color: 				#FFFFFF;
}

#level {
	color: 				#FFFFFF;
    overflow: 			auto;
    font-size:			.75em;
	height: 			80%;
}

#floater    {
    float:				left; 
    height:				50%; 
    margin-bottom:		-20px;
}

#content	{
    clear:				both; 
    height:				240px; 
    position:			relative;
    text-align:         center;
}
